{% extends 'base/base.html' %}
{% load static %}

{% block 'doc-title' %}
    {{ block.super }}
{% endblock %}

{% block 'doc-subject' %}
    <div class="media">
        <img class="align-self-center mr-3 img-thumbnail" src="{% static webtoon.thumbnail %}" alt="Card image cap" data-adaptive-background>
        <div class="media-body">
            <h1 class="mt-0">{{ webtoon.title }}</h1>
            <h6 class="mb-2 text-muted">{{ webtoon.author }}</h6>
            {{ webtoon.description }}
        </div>
    </div>
{% endblock %}

{% block 'doc-body' %}
    <div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col">이미지</th>
                <th scope="col">제목</th>
                <th scope="col">별점</th>
                <th scope="col">등록일</th>
            </tr>
        </thead>
        <tbody>
        {% for e in ep %}
            <tr>
                <td class="text-center"><img class="img-thumbnail" src="{% static e.thumbnail %}" alt="Card image cap"></td>
                <td class="align-middle">{{ e.title }} <a href="{{ e.url }}" target="_blank"><i class="fas fa-external-link-alt"></i><span class="sr-only">보러가기</span></a></td>
                <td class="text-center align-middle">{{ e.rating }}</td>
                <td class="text-center align-middle">{{ e.created_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block 'doc-page' %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block 'doc-script' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.adaptive-backgrounds/1.0.3/jquery.adaptive-backgrounds.min.js"></script>
<script>
    $(document).ready(function(){
        $.adaptiveBackground.run({
            parent: 'body'
        });
    });
</script>
{% endblock %}